*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
    outline: none;
}

#wrapper{
    height: 100dvh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f3; /* #ecf0f3 */
}

#calculator{
    display: grid;
    grid-template-columns: repeat(4,80px);
    border-radius: 20px;
    padding: 16px;
    background: #C2CFD8;
    box-shadow: -4px -4px 20px #fff, 6px 6px 10px rgba(0, 0, 0, 0.20);
}

input{
    grid-column: span 4;
    height: 70px;
    width: 300px;
    background-color: transparent;
    border: none;
    box-shadow: inset -1px -1px 20px #fff,inset 6px 6px 10px rgba(0, 0, 0, 0.20);
    color: grey;
    text-align: right;
    margin: 15px 10px 25px;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -1px -1px 15px #fff, 6px 6px 10px rgba(0, 0, 0, 0.20);
    background: transparent;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    margin: 10px;
}

#equal{
    width: 142px;
}