*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

#wrapper{
    height: 100dvh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f3; /* #ecf0f3 */
}

#calculator{
    display: grid;
    grid-template-columns: repeat(4,80px);
    border-radius: 20px;
    padding: 16px;
    background: #3a4452;
    /* box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.1); */
}

input{
    grid-column: span 4;
    height: 70px;
    width: 300px;
    background: transparent;
    border: none;
    box-shadow: inset -6px -6px 15px rgba(255, 255, 255, 0.1),inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    color: #E5E1DA;
    text-align: right;
    margin: 15px 10px 25px;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.1);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

#equal{
    width: 142px;
}