*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

html,body{
    height: 100%;
    width: 100%;
}

/* font-family: 'Kalnia', serif;  -- Main Text */
/* font-family: 'Noto Sans Kawi', sans-serif; -- Sub Text */
/* font-family: 'Bacasime Antique', serif; -- NavTab Text */
/* font-family: 'Lora', serif; -- Review Text */

/**************************** NAVIGATION BAR ********************************/

header{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    /* background: rgba(0,0,0,0.1); */
    position: fixed;
    width: 100%;
    transition: 0.6s;
    /* z-index: 3; */
    z-index: 3;
    background: linear-gradient(180deg,rgba(0,0,0,.6),hsla(0,0%,63%,0));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

#logo a{
    text-decoration: none;
    color: #fff;
}

#logo span{
    color: #C88D44;
}

header h2{
    cursor: pointer;
    color: #fff;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 25px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Bacasime Antique', serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.5px;
}

#btn1{
    padding: 6px 28px;
    background: rgba(0,0,0,0.1);
    border: 1.5px solid #8d6449;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Bacasime Antique', serif;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

#btn1:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #8d6449;
}

/*********************************** HOME *********************************/

#home_sec{
    position: relative;
    width: 100%;
    height: 100dvh;
    background-image: linear-gradient(rgba(45, 46, 47, 0.156),rgba(155, 115, 5, 0.2)), url(./assets/final_banner.png); /* linear-gradient(rgba(57, 59, 60, 0.156),rgba(155, 115, 5, 0.2)) */
    background-size: cover;
    background-position: top;
}

#banner{
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    /* color: #fff; */
}

#raja{
    font-size: 12px;
    font-family: 'Noto Sans Kawi', sans-serif;
    letter-spacing: 1.5px;
    font-weight: bolder;
    color: #553939;
}

#banner hr{
    width: 40px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #553939;
}

#st1{
    font-size: 70px;
    padding-bottom: 20px;
    font-family: 'Kalnia', serif;
    font-weight: 1000;
    color: #E5E5CB;
}

#st2{
    font-size: 25px;
    border: transparent;
    background: rgba(0,0,0,0.2);
    border-bottom: 1000px;
    font-family: 'Bacasime Antique', serif;
    color: #fff;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}

#st2 span{
    font-size: 25px;
    color: #E5E5CB;
}

#btn2{
    margin-top: 40px;
    margin-right: 30px;
    padding: 10px 40px; /* padding: 10px 40px; */
    background: #3C2A21; /* #51372a */
    border: none;
    color: #fff;
    font-family: 'Bacasime Antique', serif;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-align: center;
}

#btn3{
    margin-top: 40px;
    padding: 8px 32px; /* padding: 8px 32px; */
    background: rgba(0,0,0,0.2);
    border: 2px solid #51372a;
    color: #fff;
    font-family: 'Bacasime Antique', serif;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/*********************************** Articles *********************************/

#merge{
    width: 100%;
    height: 20px;
    transform: translateY(10%);
    background: linear-gradient(180deg,rgba(0,0,0,.6),hsla(0,0%,63%,0));
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}

#bg-text{
    position: relative;
    bottom: -49.5%;
    transform-origin: 0% 0%;
    overflow: hidden;
    text-align: center;
}

#bg-text h1{
    font-size: 160px;
    font-family: 'DM Serif Display', serif;
    color: #D5CEA3;
    letter-spacing: 42px;
}

#article_sec{
    background-image: linear-gradient(
        to bottom,
        #2A1E0F 0%,
        #2A1E0F 73%,
        #D5CEA3 73%,
        #D5CEA3 100%
    );
    height: 100dvh;
    width: 100%;
    position: relative;
}

#opacity_card{
    position: absolute;
    width: 1300px;
    height: 700px;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff10;   /* background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0)); */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

#text_prop{
    text-align: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f5f5dc;
}

#p1{
    font-size: 12px;
    font-family: 'Noto Sans Kawi', sans-serif;
    letter-spacing: 1.5px;
    font-weight: bolder;
    color: #E5E5CB;  /*#553939*/
    text-transform: uppercase;
}

#p2{
    font-size: 32px;
    padding-bottom: 20px;
    font-family: 'Kalnia', serif;
    /* letter-spacing: 1px; */
    font-weight: 600;
    color: #E5E5CB;
    letter-spacing: 0.5px;
}

#p2 span{
    color: #A47E3B; /* #A47E3B */
}

#p3{
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 15px;
    /* margin: 10px auto; */
    font-size: 16px;
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 0.5px;
}

#give_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
}

#d1{
    flex: 1;
    text-align: justify;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 0.5px;
}

#d1 h4{
    text-align: center;
    margin: 10px auto;
    color: #BF9742;
    letter-spacing: 1px;
}

#d2{
    flex: 1;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 0.5px;
}

#d2 h4{
    text-align: center;
    margin: 10px auto;
    color: #BF9742;
    letter-spacing: 1px;
}

#d3{
    flex: 1;
    text-align: justify;
    margin-right: 30px;
    font-size: 16px;
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 0.5px;
}

#d3 h4{
    text-align: center;
    margin: 10px auto;
    color: #BF9742;
    letter-spacing: 1px;
}

#vedio_part #bg_img{
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 280px;
    border-radius: 15px;
}

#vedio_part #play_btn{
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

#horizontal_part{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 11px;
    font-family: 'Bacasime Antique', serif;
    color: #E5E5CB; /*#553939*/
    transform: rotate(-90deg);
}

/*********************************** Explore *********************************/

#explore_sec{
    background: #D5CEA3; /* #D5CEA3 */
    position: relative;
    width: 100%;
    height: 180dvh;
}

#exp{
    text-align: center;
    position: absolute;
    /* color: red; */
    top: 12%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#exp_sub_head{
    font-size: 12px;
    font-family: 'Noto Sans Kawi', sans-serif;
    letter-spacing: 1.5px;
    padding-bottom: 1px;
    font-weight: bolder;
    color: #2A1E0F;  /*#553939*/
    text-transform: uppercase;
}

#exp_main_head{
    font-size: 32px;
    padding-bottom: 20px;
    font-family: 'Kalnia', serif;
    font-weight: bolder;
    color: #2A1E0F;
    letter-spacing: 0.5px;
}

#exp_main_head span{
    color: #A47E3B; /* #A47E3B */
}

#card1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;
}

#card1 #text_div1{
    text-align: left;
    flex: 1;
}

#card1 #text_div1 h1{
    font-family: 'Bacasime Antique', serif;
    font-weight: bold;
    color: #2A1E0F;  /*#553939*/
    padding-bottom: 15px;
}

#card1 #text_div1 p{
    font-size: 14px;
    font-family: 'Bacasime Antique', serif;
    text-align: justify;
    color: #2A1E0F; /*#553939*/
}

#card1 #text_div1 p span{
    color: #994D1C;
}

#card1 #img_div1{
    margin-left: 90px;
    display: flex;
    text-align: center;
}

#card1 #img_div1 img{
    width: 200px;
    height: 200px;
    border: 1.5px solid #fff;
}

#explore_sec #ver1{
    font-size: 11px;
    font-family: 'Bacasime Antique', serif;
    color: #2A1E0F; /*#553939*/
    transform: rotate(-90deg);
    position: absolute;
    top: 31%;
    right: 18%;
}

#card2{
    position: absolute;
    /* color: red; */
    top: 45.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;
}

#card2 #text_div2{
    text-align: right;
    flex: 1;
}

#card2 #text_div2 h1{
    font-family: 'Bacasime Antique', serif;
    font-weight: bold;
    color: #2A1E0F;  /*#553939*/
    padding-bottom: 15px;
    text-align: left;
}

#card2 #text_div2 p{
    font-size: 14px;
    font-family: 'Bacasime Antique', serif;
    text-align: justify;
    color: #2A1E0F; /*#553939*/
}

#card2 #text_div2 p span{
    color: #994D1C;
}

#card2 #img_div2{
    margin-right: 90px;
    display: flex;
}

#card2 #img_div2 img{
    width: 300px;
    height: 180px;
    padding: 2px 2px;
    border: 1.5px solid #fff;
}

#explore_sec #ver2{
    font-size: 11px;
    font-family: 'Bacasime Antique', serif;
    color: #2A1E0F; /*#553939*/
    transform: rotate(-90deg);
    position: absolute;
    top: 52.3%;
    left: 19.5%;
}

#card3{
    position: absolute;
    top: 68.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;
}

#card3 #text_div3{
    text-align: left;
    flex: 1;
}

#card3 #text_div3 h1{
    font-family: 'Bacasime Antique', serif;
    font-weight: bold;
    color: #2A1E0F;  /*#553939*/
    padding-bottom: 15px;
}

#card3 #text_div3 p{
    font-size: 14px;
    font-family: 'Bacasime Antique', serif;
    text-align: justify;
    color: #2A1E0F; /*#553939*/
}

#card3 #img_div3{
    margin-left: 90px;
    display: flex;
}

#card3 #img_div3 img{
    width: 300px;
    height: 200px;
    padding: 2px 2px;
    border: 1.5px solid #fff;
}

#explore_sec #ver3{
    font-size: 11px;
    font-family: 'Bacasime Antique', serif;
    color: #2A1E0F; /*#553939*/
    transform: rotate(-90deg);
    position: absolute;
    top: 73.8%;
    right: 17.5%;
}

#btn_sec{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#btn4{
    display: inline-flex;
    height: 45px;
    /* width: 160px; */
    background: transparent;
    border: 1.5px solid #2A1E0F;
    padding: 0;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Bacasime Antique', serif;
    font-weight: 900;
    letter-spacing: 1px;
    align-items: center;
    text-align: center;
}

#txt{
    display: inline-flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 5px;
    color: #2A1E0F;
    height: 100%;
    text-transform: uppercase;
}

#icn{
    display: inline-flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 5px;
    color: #2A1E0F;
    height: 100%
}

/************************************ Gallery **********************************/

#gallery_sec{
    background: #D5CEA3;
    height: 300dvh;
    width: 100%;
    position: relative;
}

#gallery_head{
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#gallery_head #gal_sub_head{
    font-size: 12px;
    font-family: 'Noto Sans Kawi', sans-serif;
    letter-spacing: 1.5px;
    font-weight: bolder;
    color: #2A1E0F;  /*#553939*/
    text-transform: uppercase;
}

#gallery_head #gal_main_head{
    font-size: 32px;
    padding-bottom: 40px;
    font-family: 'Kalnia', serif;
    font-weight: bolder;
    color: #2A1E0F;
    letter-spacing: 0.5px;
}

#gallery_head #gal_main_head span{
    color: #A47E3B; /* #A47E3B */
}

#gallery_head #gal_content{
    font-size: 16px;
    font-family: 'Bacasime Antique', serif;
    text-align: center;
    color: #2A1E0F; /*#553939*/
}

#review{
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #E7DEC8;
    background: #E7DEC8;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box !important;
    width: 70%;
    height: 100px;
}

#review #img_sec{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 170px;
    justify-content: center;
    align-items: center;
}

#review #img_sec #img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #E7DEC8;
    position: absolute;
} 

#review #hr{
    background-color: #C3B091;
    width: 1px;
}

#review #content_sec{
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#review #content_sec #first_container{
    display: flex;
    flex-direction: column;
}

#review #content_sec #first_container #head{
    color: #8e8e8e;
    font-family: 'Lora', serif;
    font-size: 14px;
    padding-bottom: 2px;
    font-weight: 550;
}

#review #content_sec #first_container #subtitle{
    color: #202020;
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: 550;
}

#review #content_sec #second_container{
    display: flex;
    flex-direction: column;
}

#review #content_sec #second_container #count{
    color: #333;
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: .48px;
    padding-bottom: 2px;
}

#review #content_sec #second_container #text{
    color: #8e8e8e;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: 500;
}

#review #review_button{
    padding: 15px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: -moz-fit-content;
    max-width: fit-content;
    border-radius: 8px;
    border: 1px solid #876445;
    background: #E7DEC8;
    cursor: pointer;
}

#review #review_button #but_txt{
    color: #65451F;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: .28px;
    text-transform: capitalize;
    padding-right: 10px;
    padding-left: 5px;
}

#review #review_button #but_icn{
    padding-right: 5px;
}

#gallery_sec #review_content{
    font-size: 20px;
    font-family: 'Bacasime Antique', serif;
    color: #2A1E0F;
    /* text-align: center; */
    position: absolute;
    top: 17%;
    left: 52%;
    transform: translate(-50%,-50%);
}

#gallery_sec #head1{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    color: #2A1E0F;
    font-family: 'Kalnia', serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 1px;
}

#gallery_sec #gallery_show1 {
    position: absolute;
    top: 23%;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.5);
}

.card > #row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card > #row #icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px;
}

.card > #row #description {
    justify-content: center;
    overflow: hidden;
    height: 60px;
    width: 300px;
    opacity: 10;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

#description h4 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Kalnia', serif;
    /* letter-spacing: 1px; */
    font-size: 16px;
    padding-top: 27.5px;
}

input {
    display: none;
}

input:checked + label {
    width: 400px;
}

input:checked + label #description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./assets/Jaipur_Banner.jpg');
    background-position: center;
}

.card[for="c2"] {
    background-image: url('./assets/Udaipur_Banner.avif');
}
.card[for="c3"] {
    background-image: url('./assets/Jodhpur_Banner.jpg');
    background-position: center;
}
.card[for="c4"] {
    background-image: url('./assets/Pushkar_Banner.jpg');
}

.card[for="c5"] {
    background-image: url('./assets/ranthambore-national-park_Banner.jpg');
    background-position: center;
}

.card[for="c6"] {
    background-image: url('./assets/Chittorgarh_Banner.jpg');
    background-position: center;
}

.card[for="c7"] {
    background-image: url('./assets/mount-abu_Banner.jpg');
    background-position: center;
}

.card[for="c8"] {
    background-image: url('./assets/Bikaner_Banner.jpg');
    background-position: center;
    background-size: cover;
}

.card[for="c9"] {
    background-image: url('./assets/Bundi_Banner.jpg');
}

.card[for="c10"] {
    background-image: url('./assets/Mewar_Banner.jpg');
    background-position: center;
}

#gallery_sec #head2{
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%,-50%);
    color: #2A1E0F;
    font-family: 'Kalnia', serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 1px;
}

#gallery_sec #gallery_show2{
    position: absolute;
    top: 49%;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card[for="a1"] {
    background-image: url('./assets/Bhangarh_Banner.jpg');
    background-position: center;
}

.card[for="a2"] {
    background-image: url('./assets/Kuldhara_Banner.jpg');
}
.card[for="a3"] {
    background-image: url('./assets/Nahargarh_Banner.jpg');
    background-position: right;
}
.card[for="a4"] {
    background-image: url('./assets/Rana_Kumbh_Palace_Banner.jpg');
    background-position: center;
}

.card[for="a5"] {
    background-image: url('./assets/NH-79_Banner.jpg');
    background-position: center;
}

.card[for="a6"] {
    background-image: url('./assets/Brij-Raj-Bhawan_Banner.png');
    background-position: center;
}

.card[for="a7"] {
    background-image: url('./assets/Jagatpura_Banner.jpg');
    background-position: right;
}

.card[for="a8"] {
    background-image: url('./assets/Chand-Baori_Banner.jpg');
}

.card[for="a9"] {
    background-image: url('./assets/Jal_Mahal_Banner.jpg');
    background-position: center;
}

.card[for="a10"] {
    background-image: url('./assets/Delhi-Jaipur-Highway_Banner.jpg');
    background-position: center;
}

#gallery_sec #head3{
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%,-50%);
    color: #2A1E0F;
    font-family: 'Kalnia', serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 1px;
}

#gallery_sec #gallery_show3{
    position: absolute;
    top: 75%;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card[for="b1"] {
    background-image: url('./assets/Hotair-Ballooning_Banner.jpg');
    background-position: center;
}

.card[for="b2"] {
    background-image: url('./assets/Jeep_Safari_Banner.jpg');
    background-position: right;
}
.card[for="b3"] {
    background-image: url('./assets/Zip-Lining_Banner.jpg');
    background-position: center;
}
.card[for="b4"] {
    background-image: url('./assets/Paragliding_Banner.jpg');
}

.card[for="b5"] {
    background-image: url('./assets/Trekking_Banner.jpg');
    background-position: center;
}

.card[for="b6"] {
    background-image: url('./assets/Camping_Banner.avif');
    background-position: center;
}

.card[for="b7"] {
    background-image: url('./assets/Wildlife-Safari_Banner.jpg');
    background-position: center;
}

.card[for="b8"] {
    background-image: url('./assets/Water-Sports_Banner.jpg');
    background-position: center;
}

.card[for="b9"] {
    background-image: url('./assets/Desert-Activity_Banner.jpg');
}

.card[for="b10"] {
    background-image: url('./assets/Pottery_Banner.jpg');
    background-position: center;
}

#gallery_sec #horizontal_line{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    /* margin: 20px 0; */
    margin-top: 20px;
    height: 0.7px;
    width: 70%;
    background: linear-gradient(270deg,hsla(0,0%,100%,.05) -.13%,hsla(0,0%,88%,.05) 0,#2A1E0F 49.17%,hsla(0,0%,88%,.05));
}

/************************************ Sponsor Section ***********************************/

#sponsor_sec{
    background: #D5CEA3; /* #D5CEA3 */
    height: 40dvh;
    width: 100%;
    position: relative;
    align-items: center;
}

#sponsor_sec #sponsor_head{
    text-align: center;
}

#sponsor_head #sp_sub_head{
    font-size: 12px;
    font-family: 'Noto Sans Kawi', sans-serif;
    letter-spacing: 1.5px;
    font-weight: bolder;
    color: #2A1E0F;  /*#553939*/
    text-transform: uppercase;
}

#sponsor_head #sp_main_head{
    font-size: 32px;
    padding-bottom: 20px;
    font-family: 'Kalnia', serif;
    font-weight: bolder;
    color: #2A1E0F;
    letter-spacing: 0.5px;
}

#sp_main_head span{
    color: #A47E3B; /* #A47E3B */
}

#sponsor_sec #sponsor_logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 75%;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
}

#sponsor_logo img{
    height: 80px;
}

#sponsor_logo #big_logo{
    height: 45px;
}

#sponsor_sec #hr_line{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    /* margin: 20px 0; */
    margin-top: 20px;
    height: 0.7px;
    width: 70%;
    background: linear-gradient(270deg,hsla(0,0%,100%,.05) -.13%,hsla(0,0%,88%,.05) 0,#2A1E0F 49.17%,hsla(0,0%,88%,.05));
}

/************************************ Package ***********************************/

#package_sec{
    background: #D5CEA3; /* #D5CEA3 */
    min-height: 150dvh;
    width: 100%;
    position: relative;
    align-items: center;
}

#package_sec #package_main_head{
    text-align: center;
}

#package_main_head #p_head{
    font-size: 30px;
    color: #2A1E0F;
    font-family: 'Kalnia', serif;
    letter-spacing: 0.5px;
    font-weight: bolder;
    padding-top: 20px;
    text-transform: uppercase;
}

#package_main_head #p_content{
    font-size: 16px;
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2A1E0F;
    padding-top: 10px;
}

#package_sec #package_content{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: auto;
    text-align: left;
}

#package_sec #package_content #pcontent1{
    font-size: 28px;
    font-family: 'Kalnia', serif;
    letter-spacing: 1px;
    font-weight: bolder;
    color: #2A1E0F;  /*#553939*/
    text-transform: capitalize;
}

#pcontent1 span{
    color: #A47E3B;
}

#package_sec #package_content #pcontent2{
    font-size: 16px;
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #2A1E0F;  /*#553939*/
    text-transform: capitalize;
    padding-top: 1.5px;
}

/*************** Package Cards ******************/

#package_sec #package_cards{
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
}

#package_cards #pcard1{
    background: url(./assets/Package1_BG.avif);
    border-radius: 10px;
    /* margin-right: px; */
    background-size: cover;
    background-position: bottom;
    width: 340px;
    height: 100%;
    /* box-shadow: 0 0 10px 1px rgba(0,0,0,.3); */
    overflow: hidden;
}

#package_cards #pcard2{
    background: url(./assets/Package2_BG.avif);
    border-radius: 10px;
    /* margin-right: 15px;
    margin-left: 15px; */
    background-size: cover;
    background-position: bottom;
    width: 340px;
    height: 100%;
    /* box-shadow: 0 0 10px 1px rgba(0,0,0,.3); */
    overflow: hidden;
}

#package_cards #pcard3{
    background: url(./assets/Package3_BG.avif);
    border-radius: 10px;
    /* margin-right: 10px; */
    /* margin-left: 15px; */
    background-size: cover;
    background-position: bottom;
    width: 340px;
    height: 100%;
    /* box-shadow: 0 0 10px 1px rgba(0,0,0,.3); */
    overflow: hidden;
}

#package_sec #pcontent{
    display: flex;
    flex-direction: column;
    /* text-wrap: wrap; */
    z-index: 1;
    position: relative;
    top: 53%;
    /* bottom: 0; */
    padding: 15px;
    width: 100%;
    color: #E7DEC8;
    font-family: 'Lora', serif;
}

#p_rating_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

#rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

#pcard_text{
    font-size: 15.5px;
    padding-bottom: 20px;
    letter-spacing: 0.1px;
    line-height: 23px;
}

#division_line{
    position: relative;
    justify-content: center;
    height: 0.7px;
    width: 100%;
    background: linear-gradient(270deg,hsla(0,0%,100%,.05) -.13%,hsla(0,0%,80%,.05) 0,#E7DEC8 49.17%,hsla(0,0%,88%,.05));
}

#price{
    padding-top: 15px;
    padding-bottom: 18px;
    font-size: 17px;
}

#pcard_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

#btn5{
    position: relative;
    width: 47%;
    height: 50px;
    padding: 5px 20px;
    background: transparent;
    border: 1.5px solid #E7DEC8;
    color: #E7DEC8;
    font-family: 'Lora', serif;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
}

#btn6{
    position: relative;
    width: 47%;
    height: 50px;
    background: #E7DEC8;
    border: 1.5px solid #E7DEC8;
    color: #000;
    font-family: 'Lora', serif;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

#package_sec #more_package{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    height: 35px;
}

#more_package #find_more{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lora', serif;
    color: #2A1E0F;
    letter-spacing: 0.5px;
}

#more_package #find_more span{
    color: #A47E3B;
}

#btn_section{
    position: relative;
    top: 100%;
}

#package_sec #customize{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lora', serif;
    color: #2A1E0F;
    letter-spacing: 0.5px;
    line-height: 30px;
}

#package_sec #customize span{
    color: #A47E3B;
}

#customize_btn{
    position: absolute;
    top: 95.5%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#btn7{
    display: inline-flex;
    height: 45px;
    /* width: 160px; */
    background: transparent;
    border: 1.5px solid #2A1E0F;
    padding: 0;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Bacasime Antique', serif;
    font-weight: 900;
    letter-spacing: 1px;
    align-items: center;
    text-align: center;
}

#icn_cust{
    display: inline-flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 13px;
    color: #2A1E0F;
    height: 80%;
}

#package_sec #hr_line{
    position: absolute;
    top: 80.8%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin: 20px 0; */
    margin-top: 20px;
    height: 0.7px;
    width: 70%;
    background: linear-gradient(270deg,hsla(0,0%,100%,.05) -.13%,hsla(0,0%,88%,.05) 0,beige 49.17%,hsla(0,0%,88%,.05));
}

/************************************ Contact Us ***********************************/

/* #bg_sec{
    background-image: linear-gradient(
    to bottom,
    rgba(213,206,163, 1),
    rgba(213,206,163, 0.8)
    ), url("./assets/Pushkar_Mela.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    width: 100%;
    position: relative;
    align-items: center;
}

#outer_box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 580px;
    height: 420px;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

#main_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    background-color: #ffffff10;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

#main_box h2{
    font-size: 24px;
    font-family: 'Lora', serif;
    font-weight: bolder;
    color: #2A1E0F;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 8px;
}

#mian_box p{
    font-size: 16px;
    font-family: 'Bacasime Antique', serif;
    font-weight: 500;
    color: #2A1E0F;
    letter-spacing: 1px;
}

#main_box form{
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main_box #name{
    width: 280px;
    height: 40px;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.6);
    border-radius: 70px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lora', serif;
    letter-spacing: 0.8px;
    color: #2A1E0F;
    margin-bottom: 10px;
}

#main_box #name:hover{
    border: 1.5px solid rgba(255, 255, 255, 0.6);
}

#main_box #phone{
    width: 280px;
    height: 40px;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.6);
    border-radius: 70px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lora', serif;
    letter-spacing: 0.8px;
    color: #2A1E0F;
    margin-bottom: 30px;
}

#main_box #call_us{
    width: 280px;
    height: 50px;
    background: #2A1E0F;
    border-radius: 70px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
} */

#contact_sec{
    background-image: linear-gradient(
    to bottom,
    rgba(213,206,163, 1),
    rgba(213,206,163, 0.8)
    ), url("./assets/Pushkar_Mela.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#contact_sec #outer_design{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 580px;
    height: 420px;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

#main_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    background: #ffffff10;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main_box #p1{
    font-size: 26px;
    font-family: 'Kalnia', serif;
    font-weight: bolder;
    color: #2A1E0F;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 6px;
}

#main_box #p2{
    font-size: 14px;
    font-family: 'Lora', serif;
    font-weight: 500;
    color: #2A1E0F;
}

#main_box #your_name{
    width: 280px;
    height: 40px;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#main_box #your_name p{
    font-size: 14px;
    font-family: 'Lora', serif;
    letter-spacing: 0.6px;
    color: #2A1E0F;
    padding-top: 9.8px;
}

#main_box #phone_no{
    width: 280px;
    height: 40px;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#main_box #phone_no p{
    font-size: 14px;
    font-family: 'Lora', serif;
    letter-spacing: 0.6px;
    color: #2A1E0F;
    padding-top: 9.8px;
}

#main_box #call_me_btn{
    width: 280px;
    height: 50px;
    background: #2A1E0F;  /* #ffffff30 */
    border: none;
    border-radius: 70px;
    box-shadow: 6px 6px 6px -1px rgba(42, 30, 15, 0.30),   /* rgba(239, 239, 239, 0.30) */
    -6px -6px 6px -1px rgba(255, 255, 255, 0.30); 
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige;       
    text-transform: uppercase;
    font-family: 'Lora', sans-serif;
    letter-spacing: 1.3px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

#icons_div{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: auto;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icons_div img{
    cursor: pointer;
}

#contact_sec #hr_line{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin-top: 20px;
    height: 0.7px;
    width: 95%;
    background: linear-gradient(270deg,hsla(0,0%,100%,.05) -.13%,hsla(0,0%,88%,.05) 0,beige 49.17%,hsla(0,0%,88%,.05));
}

/************************************ Footer ***********************************/

footer{
    width: 95%;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer #div1{
    display: flex;
    flex-direction: column;
    color: #2A1E0F;
    font-size: 12px;
    font-family: 'Lora', serif;
    text-align: left;
}

#div1 #reserved{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
    width: 175px;
    margin-bottom: 4px;
    letter-spacing: 0.9px;
    align-items: center;
}

footer #div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

footer #div1 #copywrite{
    font-size: 12px;
    font-family: 'Lora', serif;
    letter-spacing: 0.9px;
}

#div1 a{
    color: #2A1E0F;
}

footer #div3{
    display: flex;
    flex-direction: column;
    color: #2A1E0F;
    font-size: 12px;
    font-family: 'Lora', serif;
    letter-spacing: 0.9px;
    text-align: left;
}

#div3 #bottom_padding{
    padding-bottom: 4px;
}


#div3 a{
    text-decoration: none;
    color: #2A1E0F;
}