*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: gilroy;
    color: white;
}

/* html,body{
    height: 100%;
    width: 100%;
    /* font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
}*/

body{
    background: url(./assets/bg.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: top;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    background: rgba(0,0,0,0.1);
    position: sticky;
}

span{
    color: #C88D44;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}

nav ul li a:hover{
    color: #C88D44;
}

button{
    padding: 6px 26px;
    background: rgba(0,0,0,0.1);
    border: 2px solid #C88D44;
    /* border-width: 2px; */
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s ease;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #C88D44;
}

/*#tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    width: 35%;
    font-size: x-large;
}*/