*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    /* font-family: 'Roboto', sans-serif; */
    background-color: #E5E5CB;
}

#wrapper{
    display: flex;
    position: relative;
}

/*************************************** NAVBAR *****************************************/

#wrapper #nav_bar{
    width: 180px;
    height: 97.3%;
    /* background-image: linear-gradient(-45deg,grey,#050608); */
    background-color: #1A120B;
    position: fixed;
    /* z-index: 1;
    top: 0;
    left: 0; */
    overflow-x: hidden;
    /* padding: 30px 0; */
    /* transition: 0.5s; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 10px;
    border-radius: 10px;
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 1px;
}

#wrapper #nav_bar h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Kalnia', serif;
}

#wrapper #nav_bar h2 a{
    color: #E5E5CB;
    text-decoration: none;
    font-size: 26px;
}

#wrapper #nav_bar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    text-align: center;
}

#wrapper #nav_bar ul li a{
    color: #E5E5CB;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    /* width: 100px; */
    /* margin: 0 30px; */
    /* justify-content:space-between; */
    /* padding: 0 22px; */
    /* text-align: center; */
    align-items: center;
    margin-left: 15px;
    /* justify-content: center; */
}

#wrapper #nav_bar ul li a p{
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    text-transform: uppercase;
}

#wrapper #nav_bar ul li:hover{
    background: #E5E5CB;
}

#wrapper #nav_bar ul li:hover a{
    color: #1A120B;
}

#wrapper #nav_bar .icn{
    color: #000;
}

/*************************************** Home Sec *****************************************/

#wrapper #home_sec{
    position: absolute;
    top: 10px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 800px;
    height: 500px;
}

/*************************************** Profile Pic Sec *****************************************/

#wrapper #profile_pic_sec{
    position: absolute;
    top: 10px;
    left: 1030px;
    background: #1A120B;
    border-radius: 10px;
    width: 380px;
    height: 500px;
}

/*************************************** About Me Sec *****************************************/

#wrapper #about_sec{
    position: absolute;
    top: 530px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 1200px;
    height: 500px;
}

/*************************************** Skills Sec *****************************************/

#wrapper #skill_sec{
    position: absolute;
    top: 1050px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 750px;
    height: 200px;
}

/*************************************** Resume Sec *****************************************/

#wrapper #resume_sec{
    position: absolute;
    top: 1050px;
    left: 980px;
    background: #1A120B;
    border-radius: 10px;
    width: 430px;
    height: 200px;
}

/*************************************** Project Sec *****************************************/

#wrapper #project_sec{
    position: absolute;
    top: 1270px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 1200px;
    height: 900px;
}

/*************************************** Contact Sec *****************************************/

#wrapper #contact_sec{
    position: absolute;
    top: 2190px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 1200px;
    height: 500px;
}

/*************************************** Footer *****************************************/

#wrapper footer{
    position: absolute;
    top: 2710px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 1200px;
    height: 100px;
    margin-bottom: 10px;
}