*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    /* font-family: 'Roboto', sans-serif; */
    background-color: #FAEED1;
    /* font-family: Poppins,sans-serif; */
}

#wrapper{
    display: flex;
    position: relative;
}

/*************************************** NAVBAR *****************************************/

#wrapper #nav_bar{
    width: 180px;
    height: 97.3%;
    /* background-image: linear-gradient(-45deg,grey,#050608); */
    background-color: #1A120B;
    position: fixed;
    /* z-index: 1;
    top: 0;
    left: 0; */
    overflow-x: hidden;
    /* padding: 30px 0; */
    /* transition: 0.5s; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 10px;
    border-radius: 10px;
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 1px;
}

#wrapper #nav_bar h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Kalnia', serif;
}

#wrapper #nav_bar h2 a{
    color: #FAEED1;
    text-decoration: none;
    font-size: 26px;
}

#wrapper #nav_bar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    text-align: center;
}

#wrapper #nav_bar ul li a{
    color: #FAEED1;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    /* width: 100px; */
    /* margin: 0 30px; */
    /* justify-content:space-between; */
    /* padding: 0 22px; */
    /* text-align: center; */
    align-items: center;
    margin-left: 15px;
    /* justify-content: center; */
}

#wrapper #nav_bar ul li a p{
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    text-transform: uppercase;
}

#wrapper #nav_bar ul li:hover{
    background: #FAEED1;
    transition: 0.2s;
}

#wrapper #nav_bar ul li:hover a{
    color: #1A120B;
    
}

#wrapper #nav_bar .icn{
    color: #000;
}

/*************************************** Home Sec *****************************************/

#wrapper #home_sec{
    position: absolute;
    top: 10px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 750px;
    height: 300px;
}

#home_sec #container1{
    display: flex;
    flex-direction: column;
    color: #FAEED1;
    margin: 50px 110px;
}

#head_svg{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 515px;
    justify-content: space-between;
}

#container1 #head_svg .head{
    font-size: 40px;
    font-family: 'Kalnia', serif;
}

.head span{
    color: #fff;
}

#container1 .body{
    font-size: 15px;
    font-family: 'Lora', serif;
    margin-top: 25px;
    width: 100%;
    line-height: 20px;
    letter-spacing: 0.5px;
}

#btn{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#download_btn{
    border-radius: 30px;
    position: relative;
    border: 1px solid #FAEED1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

#btn a{
    text-decoration: none;
}

.btn-text{
    padding: 0 40px;
    font-family: 'Lora', serif;
    color: #FAEED1;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 15px;
}

.btn-icon{
    background-color: #FAEED1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 12px;
}

#download_btn:hover{
    background-color: #FAEED1;
    transition: all 0.3s ease-in-out;
    .btn-text{
        color: #1A120B;
    }
}

/*************************************** Profile Pic Sec *****************************************/

#wrapper #profile_pic_sec{
    position: absolute;
    top: 10px;
    left: 980px;
    background: #1A120B;
    border-radius: 10px;
    width: 430px;
    height: 500px;
}

#profile_pic_sec #container2{
    margin: 10px;
    height: 96%;
    background: url(./assets/Portfolio_pic.jpg);
    border-radius: 5px;
    border: 1px solid #FAEED1;
    background-position: top;
    background-size: cover;
}

/*************************************** About Me Sec *****************************************/

#wrapper #about_sec{
    position: absolute;
    top: 330px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 750px;
    height: 590px;
}

#about_sec #container3{
    display: flex;
    flex-direction: column;
    color: #FAEED1;
    margin: 50px 110px;
}

#container3 h1{
    font-size: 40px;
    font-family: 'Kalnia', serif;
}

#container3 p{
    font-size: 15px;
    font-family: 'Lora', serif;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    line-height: 20px;
    letter-spacing: 0.5px;
    span{
        text-transform: capitalize;
    }
}

/*************************************** Skills Sec *****************************************/

#wrapper #skill_sec{
    position: absolute;
    top: 530px;
    left: 980px;
    background: #1A120B;
    border-radius: 10px;
    width: 430px;
    height: 390px;
}

#skill_sec #container4{
    display: flex;
    flex-direction: column;
    color: #FAEED1;
    /* margin: 50px 110px; */
}

#container4 h1{
    font-size: 30px;
    font-family: 'Kalnia', serif;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 0.5px;
}

#container4 #skill_icns{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    /* width: 100px !important; */
}

#skill_icns #div{
    display: flex;
    flex-direction: row;
    margin: 0 70px;
    justify-content: space-around;
    align-items: center;
}

#div .nodejs{
    height: 70px;
}

#div .MySQL{
    height: 100px;
}

#div .reactjs{
    height: 48px;
}

#div .python{
    height: 48px;
}

#div .unity{
    height: 40px;
}

/*************************************** Project Sec *****************************************/

#wrapper #project_sec{
    position: absolute;
    top: 940px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 1200px;
    height: 1300px;
}

#project_sec #container5{
    display: flex;
    flex-direction: column;
    color: #FAEED1;
    margin: 50px 110px;
    align-items: center;
    justify-content: center;
}

#container5 h1{
    font-size: 50px;
    font-family: 'Kalnia', serif;
}

#proj1{
    position: relative;
    top: 50px;
    width: 750px;
    height: 400px;
    border: 1px solid #FAEED1;
    background: url(./assets/project1.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#proj1_desc{
    position: relative;
    top: 80%;
    width: 100%;
    height: 80px;
    background: #ffffff10;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* border: 1.5px solid rgba(255, 255, 255, 0.4); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h1{
    color: #FAEED1;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: 'Kalnia', serif;
    margin: 23px 50px;
    text-transform: uppercase;
}

#d1{
    margin: 23px 50px;
}

#proj2{
    position: absolute;
    top: 600px;
    left: 225px;
    width: 360px;
    height: 500px;
    border: 1px solid #FAEED1;
    background: url(./assets/project2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#proj2_desc{
    position: relative;
    top: 84%;
    width: 100%;
    height: 80px;
    background: #ffffff10;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* border: 1.5px solid rgba(255, 255, 255, 0.4); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h2{
    color: #FAEED1;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: 'Kalnia', serif;
    margin: 23px 25px;
    text-transform: uppercase;
}

#d2{
    margin: 23px 25px;
}

#proj3{
    position: absolute;
    top: 600px;
    left: 615px;
    width: 360px;
    height: 500px;
    border: 1px solid #FAEED1;
    background: url(./assets/project3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#proj3_desc{
    position: relative;
    top: 83.8%;
    width: 100%;
    height: 80px;
    background: #ffffff10;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* border: 1.5px solid rgba(255, 255, 255, 0.4); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h3{
    color: #FAEED1;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: 'Kalnia', serif;
    margin: 23px 25px;
    text-transform: uppercase;
}

#container5 .m_btn{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 1px solid #FAEED1;
    background: transparent;
    width: 270px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.m_btn #txt{
    font-family: 'Bacasime Antique', serif;
    display: inline-flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 10px;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #FAEED1;
    height: 100%;
    text-transform: uppercase;
}

.m_btn #icn{
    display: inline-flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 5px;
    color: #2A1E0F;
    height: 100%
}

/*************************************** Contact Sec *****************************************/

#wrapper #contact_sec{
    position: absolute;
    top: 2260px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 400px;
    height: 180px;
}

#about_sec #container6{
    display: flex;
    flex-direction: column;
}

#container6 h3{
    text-align: center;
    font-size: 24px;
    color: #FAEED1;
    font-family: 'Kalnia', serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 30px;
}

#contact_icn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 70px;
}

#wrapper #lets_talk{
    position: absolute;
    top: 2260px;
    left: 630px;
    background: #1A120B;
    border-radius: 10px;
    width: 782px;
    height: 180px;
}

#lets_talk #con6 p{
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    color: #FAEED1;
    font-family: 'Lora',serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    a{
        text-decoration: underline;
        color: #FAEED1;
    }
}

/*************************************** Footer *****************************************/

#wrapper footer{
    position: absolute;
    top: 2460px;
    left: 210px;
    background: #1A120B;
    border-radius: 10px;
    width: 1200px;
    height: 100px;
    margin-bottom: 10px;
}

footer #container7{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 250px;
    font-family: 'Lora', serif;
    color: #FAEED1;
    letter-spacing: 0.5px;
}

#container7 #txt_c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container7 #txt_c p{
    font-size: 13px;
    a{
        text-decoration: none;
        color: #FAEED1;
    }
}